* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

/*============ Common =============*/

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    /* Khi thu hẹp không bị ép xác và xuất hiện thanh cuộn */
    max-width: calc(100% - 48px);
    /* Căn giữa bằng cách dùng margin */
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    text-align: center;
    line-height: 50px;
    min-width: 118px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.173;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.263;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/*============ Header ================*/
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    font-size: 1.6rem;
    /* Không sử dụng font weight vì khi hover vào sẽ bị đẩy chữ */
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    bottom: 6px;
    left: 21px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/*============ Hero ================*/
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

/* Hero left */

.hero .media-block .img {
    /* sử dụng display block để loại bỏ đường baseline */
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-sumary {
    position: absolute;
    right: 0;
    padding: 24px;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0px 16px 32px 0px #0000000d;
}

.hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero-sumary .item:nth-child(2) .icon {
    background: #fcefff;
}

.hero-sumary .item:nth-child(3) .icon {
    background: #ebeaff;
}

.hero-sumary .item + .item {
    margin-top: 14px;
}

.hero-sumary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-sumary .info {
    margin-left: 16px;
}

.hero-sumary .label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    color: #5f5b53;
}

.hero-sumary .title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 56px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0px 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    margin-left: 28px;
    cursor: pointer;
}

.watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px 0px #00000012;
}

.watch-video span {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 14px;
    color: #171100;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.227;
    color: #171100;
}

/* ========= Popular ========= */
.popular {
    padding: 65px 0px;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
}

.popular-top .desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #5f5b53;
    width: 458px;
}

.popular-top .controls {
    display: flex;
    margin-left: auto;
    gap: 18px;
}

.controls .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
}

.controls .control-btn:hover {
    background: var(--primary-color);
    color: white;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    width: 370px;
    height: 466px;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #ffffff;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px #0000000d;
}

.popular .course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head {
    display: flex;
    align-items: center;
}

.popular .course-item .head .rating {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
}

.popular .course-item .rating .value {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--primary-color);
}

.popular .course-item .title a {
    padding-right: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .course-item .foot {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .foot .btn {
    min-width: 118px;
    border: none;
}

.popular .course-item .foot .btn:hover {
    color: #fff;
    background: var(--primary-color);
}

.popular .course-item .foot .price {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}

/* =========== Feedback ============= */

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback .feedback-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857;
    color: #bfbcb2;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .info .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: var(--primary-color);
    cursor: default;
}

.feedback-item .content {
    width: 66%;
}

.feedback-item blockquote {
    margin-left: 30px;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.538;
    color: #ffffff;
}
